.nav-bar {
    width: fit-content;
    height: calc(100vh - 20px);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    align-items: end;
    background-color: white;
    color: black;
}
.nav-bar.closed { left: -170px; }
.nav-bar h3 { cursor: pointer; }
.nav-bar.closed #menu-button { left: 200px; }
.nav-bar #menu-button {
    position: absolute;
    left: 120px;
    top: 10px;
}

.arial { font-family: Arial, Helvetica, sans-serif; }
.cursive { font-family: cursive; }
.serif { font-family: serif; }
.sans-serif { font-family: sans-serif; }
.monospace { font-family: monospace; }

.font-normal { font-style: normal; }
.font-italic { font-style: italic; }
.font-oblique { font-style: oblique; }

.weight-normal { font-weight: normal; }
.weight-bold { font-weight: bold; }
.weight-bolder { font-weight: bolder; }
.weight-lighter { font-weight: lighter; }
.weigth-100 { font-weight: 100; }
.weigth-200 { font-weight: 200; }
.weigth-300 { font-weight: 300; }
.weigth-400 { font-weight: 400; }
.weigth-500 { font-weight: 500; }
.weigth-600 { font-weight: 600; }
.weight-700 { font-weight: 700; }
.weight-800 { font-weight: 800; }
.weight-900 { font-weight: 900; }

.text-none { text-decoration: none; }
.text-underline { text-decoration: underline; }
.text-overline { text-decoration: overline; }
.text-line-through { text-decoration: line-through; }

.text-trans-none { text-transform: none; }
.text-trans-capitalize { text-transform: capitalize; }
.text-trans-uppercase { text-transform: uppercase; }
.text-trans-lowercase { text-transform: lowercase; }

.border {
    margin-top: 2px;
    padding: 2px;
    width: 50px;
    text-align: center;
}
.border-dotted { border: dotted; }
.border-solid { border: solid; }
.border-double { border: double; }
.border-groove { border: groove; }
.border-ridge { border: ridge; }
.border-inset { border: inset; }
.border-outset { border: outset; }